

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
<!-- Main navigation container -->

<%if current_user%>
    <p>Hello, <%= current_user.username %></p>
    <p>You are a [<%= current_user.roles %>]</p>
   
    <% if current_user.admin?%>
        There are <%=User.count%> user in the system
        <%# //TODO: ekhane admin r page render koris %>
    <%end%>
    <p>
        You have successfully signed in
    </p>
    <%= link_to 'Sign Out', destroy_user_session_path,'data-turbo-method' => 'delete' %>
<%else%>
    <p>
        You are not signed in
        <%= link_to 'Sign Up', new_user_registration_path %>
        <br>
        <%= link_to 'Sign In', new_user_session_path %>
    </p>
<%end%>


 <script src="node_modules/@material-tailwind/html/scripts/collapse.js"></script>
<!-- from cdn -->
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>

