
<!-- Main navigation container -->
<%= render 'admin/shared/home'%>

<div class="bg-white">
  <%# TODO: Show empty page state %>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% @books.each do |book| %>
        <div>

      <% end %>
    </div>
  </div>
</div>



<%if current_user%>
    <p>Hello, <%= current_user.username %></p>
    <p>You are a [<%= current_user.roles %>]</p>
   
    <% if current_user.admin?%>
        There are <%=User.count%> user in the system
        <%# //TODO: ekhane admin r page render koris %>
    <%end%>
    <p>
        You have successfully signed in
    </p>
    <%= link_to 'Sign Out', destroy_user_session_path,'data-turbo-method' => 'delete' %>
<%else%>
    <p>
        You are not signed in
        <%= link_to 'Sign Up', new_user_registration_path %>
        <br>
        <%= link_to 'Sign In', new_user_session_path %>
    </p>
<%end%>


 <script src="node_modules/@material-tailwind/html/scripts/collapse.js"></script>
<!-- from cdn -->
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>

