<div id="<%= dom_id storage %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= storage.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= storage.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image data:</strong>
    <%= storage.image_data %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= storage.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= storage.category_id %>
  </p>

</div>
