<div id="<%= dom_id(book) %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= book.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1 hidden">User ID:</strong>
    <%# <%= book.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= link_to(book.category.name, book.category) %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= book.description %>
  </p>
  <%# <p class="my-5">
    <strong class="block font-medium mb-1">Image Data:</strong>
    <%= book.image_data %>
  
  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%=User.find(book.user_id).username %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Synopsis:</strong>
    <%= book.synopsis %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Published on:</strong>
    <%= book.published_on %>
  </p>
</div>
