
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%# <%= render @category %> 
    <h1 align ="center"><b><%= @category.name %></b></h1>
    <br>

    <table class="table table-light table-hover table-striped px-4">
      <thead class="table-dark">
    <tr>
      <th scope="col">Book</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
   <% @category.books.each do |book|%>
  <tbody>
    <tr>
      
      <td> <%= book.title %></td>
      <td><%=link_to "View Book",book,class: "btn btn-primary"%></td>
      
    </tr>
    
   
  </tbody>
   <% end %>
</table>
<%if current_user.admin?%>
    <%= link_to "Edit this category", edit_category_path(@category), class: "btn btn-primary" %>
    <%end%>
    <%= link_to "Back to categories", categories_path, class: "btn btn-info" %>
    <%if current_user.admin?%>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this category", @category, method: :delete, class: "btn btn-danger" %>
    </div>
    <%end%>
  </div>
</div>
