    <%= render @book %>
<div>

  <div>

 
  <p>
<strong>Image data:</strong>
<%= image_tag @book.image_url, height: '100px', width: '100px' if @book.image %>
</p>
</div>
<div>
<strong>Tag data:</strong>
  <p>
    <small>Tags: <%= raw @book.tags.map(&:name).join(', ') %></small>
  </p>
</div>
</div>

 <p>
    <%= render partial: "likes", locals: {book: @book}%>
  </p>
<div class="container">
  <%= render 'comments/form',book: @book%>
  <% @comments.each do |comment|%>
  <%= render 'comments/comment',book: @book,comment: comment%>
  <%end%>
</div>
<br>
    <%= link_to "Edit this book", edit_book_path(@book), class: "btn btn-info" %>
    <%= link_to "Back to books", books_path, class: "btn btn-primary" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this book", @book, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>